.board-container{
    width:45vw;
    height:45vw;
    border:3px solid black;
    position:relative;
    background-color: transparent;
    /* background-color: #414042; */
    padding:0;
}

/* ----------GAME IMAGES----------------- */

.movable, .static{
    position:absolute;
    padding:0;
    text-align:center;
    background-color: transparent;
    width: 3.5vw;
    height: 3.5vw;
    margin:0;
    background-size: 100% 100%;
    border: 3px yellow solid;
}

.player{
    background-image: url(../img/character-down.png);
}

.keg{
    background-image: url(../img/Keg.svg)
}

.tile{
    background-image: url(../img/BlueTile.svg);
}

.beer-full{
    background-image: url(../img/Beer_Full.svg)
}

.beer-empty{
    background-image: url(../img/Beer_Empty.svg)
}

.no-tile{
    background-color: #414042
}
